
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

body {
   height: 490px;
}

header {
    background: linear-gradient(to right, blue, rgba(255, 255, 255, 0.596), green);
    display:flex;
    justify-content: space-between;
    
}

.logo > h2 {
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

ul{
    display: flex;
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 15px;
}

a:hover{
    background-color: rgba(29, 29, 219, 0.667);
    color: #fff;
    border-radius: 20px;
}

header,body,footer{
    font-family:'Roboto', sans-serif;
}

.open-menu,
.close-menu {
    display: none;
}

main {
    width: 100%;
    min-height: 100%;
    margin-top: 50px;
}

section > h1{
    font-family: 'Rampart One', cursive;
    font-size: 35px;
    font-weight: bold;
    color: rgb(93, 58, 11);
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 7px 13px 37px #000;
}

.somos-descripcion {
    display: flex;  
    gap: 10px;
}

.descripcion > h2 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom:20px;
}

.descripcion > p {
    padding-left: 1rem;
    padding-top: 1.8 rem;
    padding-bottom:1.8 rem;
    font-size: 2rem;
}

.somos {
    order: 5;
    width: 50%;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}

.somos > h2 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom:10px;
}

.somos > ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom:10px;
}

.somos > ul li{
    padding-bottom: 5px;
}

.descripcion{
    width: 50%;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}
.span{
    color: darksalmon;
}

.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.plaza {
    display: flex;
    flex-direction: column;
    background: blueviolet no-repeat;
    background-size: cover;
    width: 33%;
    height: 340px;
    color: black;
}

.plaza > h2,
.domo > h2,
.escultura > h2 {
    text-align: center;
    font-weight: bold;
}

.domo {
    display: flex;
    flex-direction: column;
    background: blueviolet no-repeat;
    background-size: cover;
    width: 33%;
    height: 340px;
    color: black;
}

.escultura {
    display: flex;
    flex-direction: column;
    background: blueviolet no-repeat;
    background-size: cover;
    width: 33%;
    height: 340px;
    color: black;
    
}

.footer {
    position: sticky;
    margin: 5rem 0 0 0;
    width: 100%;
    text-align: center;
    color: black;
    background: linear-gradient(to right, blue, rgba(255, 255, 255, 0.76), green);
}

footer>p{
    font-size: 15px;
    font-weight:  bold;
    padding: 5px;
}

@media (max-width:600px){
    body{
        font-size: 1.5 rem;
        background:  rgb(1, 7, 53);  
        font-weight: bold;
    }
	
    header{
        background: rgb(1, 7, 53);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        box-shadow: 7px 13px 37px #000;
    }
	
    section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: rgb(1, 7, 53);
        color: rgb(158, 155, 155);

    }
	
    .somos-descripcion{
        flex-direction: column;
        gap: 30px;
        
    }
	
    .somos-descripcion h2{
        text-align: center;

    }
	
    .somos, .descripcion{
        width: 100%;
        padding: 1.5rem 0;
        line-height: 3.5rem;
        text-align:start;
    }
    
    .logo>h2{
        color: rgb(88, 49, 5);
        font-size: 40px;
        font-weight: bold;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        
    }
	
    a{
        text-decoration: none;
        display: inline-block;
        color: rgb(158, 155, 155);
        font-size: 2rem;
        font-weight: bold;
        padding-left: 5rem;
        padding-right: 5rem;
    }
	
    a:hover{
        background-color: rgba(29, 29, 219, 0.667);
        color: #000;
        border-radius: 20px;
    }
	
    header,body,footer{
        font-family:'Roboto', sans-serif;
    }
	
    .open-menu,
    .close-menu{
		display: block;
		border: none;
		background: none;
		cursor: pointer;
    }
	
    .open-menu{
        align-self: flex-end;
        width: 30px;
        height: 30px;
    }
	
    section>h1{
        text-shadow: 15px 15px 25px rgb(14, 13, 13);
        color: rgb(80, 49, 8);
        font-size: 3rem;
        text-align: center;
    }
	
    .container{
        flex-direction: column;
        gap: 20px;
    }
	
    .jugar{
        border-radius: 15px;
        box-shadow: 7px 13px 37px #000;
        max-width: 100%;
        min-width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;

    }
	
    .footer{
        background:  rgb(1, 7, 53);  
        border-radius: 10px;
        box-shadow: 7px -13px 37px #000;
    }
	
    address{
        color: rgb(158, 155, 155);
        padding-top: 2rem;
        font-size: 2rem;
    }
}



