{% extends 'base.html' %}

{% block contenido %}

<form class="form-registrar" method="POST">
  {% csrf_token %}
  <h2>Formulario de Registro</h2>
  <input type="hidden" id="respuestaC" value="{{form.ans}}">
  <div>
    {{ form.first_name }}
  </div>
  <div>
    {{ form.last_name }}
  </div>
  <div>
    {{ form.email }}
  </div>
  <div>
    {{ form.username }}
  </div>
  <div>
    {{ form.password1 }}
  </div>
  <div>
    {{ form.password2 }}
  </div>

  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="text-center text-danger">
    Error: {{ error }}
  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}

  <button class="boton" type="submit">Registrarme</button>
  
</form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $nombre = document.getElementById('nombre');
    $nombre.focus();
  });
</script>

{% endblock %}