{% extends 'base.html' %}

{% block contenido %}
<style>
  .aside {
    width: 100%;
    text-align: center;
	  line-height: 2rem;
    padding: 3.5rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 7px 13px 37px #000;
  }
  
  .aside p > span {
	font-weight: 900;
  }
  
</style>

<section>
  <h1>BIENVENIDOS A JUGAR</h1>
  <div>
    <aside class="aside">
      <p>
        <span>{{ fecha }}</span>
      </p>
      <p>
        jugadores registrados: <span>{{ usuarios }}</span>
      </p>
      <p>
        último acceso jugador: <span>{{ ultimo.username }}</span>
      </p>
    </aside>
  </div>
  <div class="somos-descripcion">
    <div class="somos">
      <h2>INTEGRANTES</h2>
      <ul>
		<li><a href="https://www.instagram.com/angelfernandez.27/" target="_blank" > Angel Fernández</a></li>
		<li><a href="https://linktr.ee/estelita_23" target="_blank">Estela Ríos</a> </li>
        <li><a href="http://francobarreto.myartsonline.com" target="_blank">Franco Barreto</a></li>
        <li><a href="https://www.instagram.com/geronimo_angel_cespedes_bochle/" target="_blank">Gerónimo Céspedes</a></li>
        <li><a href="matias_gaun_48@hotmail.com" target="_blank">Matías Gauna</a></li>
      </ul>
    </div>
    <div class="descripcion">
      <h2>¿Quiénes somos?</h2>
      <p>Somos un grupo de estudiantes que emprendieron camino en el maravilloso mundo de la programación.
        Los queremos invitar a <span class="span">jugar</span> en nuestra aplicación de preguntas y respuestas. Adelante!
      </p>
    </div>
  </div>
</section>



<section class="container">
  {% if request.user.is_authenticated %}
  <p>usuario: {{request.user.username }}</p>
  {% if request.user.is_staff %}
  <div class="container">
    <a class="jugar" href="/admin/core/quesmodel/add">Agregar Preguntas</a>
    <a class="jugar" href="/admin/users/perfil/">Administrar Usuarios</a>
  </div>
  {% else %}
  <p>puntaje: {{request.user.puntaje }}</p>
  <div class="container">
    <a class="jugar" href="{% url 'jugar' %}">JUGAR</a>
  </div>
  {% endif %}
  {% else %}
  <div class="container">
    <a class="jugar" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
    <a class="jugar" href="{% url 'crear_usuario' %}">Registrarse</a>
  </div>
  {% endif %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</section>

{% endblock %}