{% extends 'base.html' %}

{% block contenido %}
<style>
  
  @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
  
  .resultado{
    position: relative;
    margin: 5px auto;
    text-align: center;
    font-family: 'Rampart One', cursive;
    font-size: 35px;
    font-weight: bold;
    color: rgb(93, 58, 11);
  }
  
  .text-container{
    line-height: 50px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .text-center1{
    margin-top: 50px;
    background-color: blue;
    width: 100px;
    height: 50px;
    display: inline-block;
    border-radius: 5px;
  }
  
  .text-center1>a{
    padding: 5px;
  }
  
  .text-center1>a:hover{
    background-color: cornflowerblue;
    width: 100px;
    height: 50px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }
  
  @media(max-width:600px){
    
    .text-center{
      color: rgb(158, 155, 155);
      font-size: 2.5rem;
      text-align: center;
      line-height: 60px;
    }
    
    .jugador{
      font-size: 3rem;
      border-radius: 10px;
      box-shadow: 7px 13px 13px #000;
      margin-top: 1rem;
      margin-bottom: 4rem;
    }
    
    .textop{
      margin-top: 4rem;
      line-height: 30px;
      border-radius: 10px;
      box-shadow: 7px 13px 13px #000;
    }
  }
  
</style>
<h2 class="resultado">Resultado</h2>
<div class="text-container">
  {% if request.user.is_authenticated %}
  <div class="text-center jugador">
    Jugador: {{ request.user.username }} <br>
  </div>
  <div class="text-center puntaje">
    Puntaje de ésta ronda: {{ score }}
    Correctas: {{ correct }} | Incorrectas: {{ wrong }} <br>
    Total de preguntas: {{ numeroPregunta }}
  </div>
  
  <div class="text-center textop">
    <p>También puedes compartir tus resultados desde los enlances ubicados en el pie de página</p>
  </div>
  <div class="text-center1">
    <a  href="{% url 'inicio' %}"> volver </a>
  </div>
  {% else %}
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-lg btn-outline-primary" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
    <a class="btn btn-lg btn-outline-success" href="{% url 'crear_usuario' %}">Registrarse</a>
  </div>
  {% endif %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}